/*stylesheet*/

body {
	margin: 0;
}

#wrapper {
	margin: 0 auto;
	max-width: 1200px;
}

#masthead{
	background color:#e6e6e6;
}

#nav {
	background-color: #b6b6b6;
}
/*line 32 starts below*/
#logo {
	padding: 1rem 0;
}

#logo #logo-holder {
	position: relative;
	color: var(--body-color);
	display: flex;
	align-items: center;
}

#logo a{
	width: 30%;
}

#logo img {
	width: 100%
	height: auto;
}